<!DOCTYPE html>
<html lang="en">

<%- include('naglowek', {});  %>


<body id="page-top">
    <!-- Navigation-->
    <%- include('menu', menu);  %>
    <!-- nagłówek-->

    <header class="masthead2">
    

    
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Lista strażaków</h2>
                    <hr class="divider light my-4" />
                    <p class="text-white-50 mb-4">

                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    
                                    <th scope="col">Imie</th>
                                    <th scope="col">Nazwisko</th>
                                    <th scope="col">Numer telefonu</th>                            
                                    <th scope="col"></th>

                           
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0;i<lista.length;i++){ %>                                
                                <tr>
                                    
                                    <td><%= lista[i].imie %></td>
                                    <td><%= lista[i].nazwisko %></td>
                                    <td><%= lista[i].numerTelefonu %></td>
                                    <td><a href="/strazacy/edytuj/<%=idJednostki%>/<%=lista[i].id%>">Edytuj dane</a><a href="/strazacy/usun/<%=idJednostki%>/<%=lista[i].id%>"> Usuń</a></td>
 
                                </tr>
                                <% }   %>

                            </tbody>
                        </table>
                        <a class="btn btn-light btn-sm js-scroll-trigger" href="/strazacy/dodajNowego/<%=idJednostki%>">Dodaj nowego strażaka</a>
                        <a class="btn btn-light btn-sm js-scroll-trigger" href="/strazacy/dodajIstniejacego/<%=idJednostki%>?nastepnaStrona=edycjaStrazaka">Dodaj istniejącego strażaka</a>
                    </p>
<br>
                    <h2 class="text-white mt-0">Lista alarmujacych</h2>
                    <hr class="divider light my-4" />
                    <table class="table table-striped table-dark">
                        <thead>
                            <tr>
                                
                                <th scope="col">Imie</th>
                                <th scope="col">Nazwisko</th>
                                <th scope="col">Numer telefonu</th>                            
                                <th scope="col"></th>

                       
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0;i<listaAlarmujacych.length;i++){ %>                                
                            <tr>
                                
                                <td><%= listaAlarmujacych[i].imie %></td>
                                <td><%= listaAlarmujacych[i].nazwisko %></td>
                                <td><%= listaAlarmujacych[i].numerTelefonu %></td>
                                <td><a href="/strazacy/usunAlarmujacego/<%=idJednostki%>/<%=listaAlarmujacych[i].id%>"> Usuń</a></td>
                            
                            </tr>
                            
                            <% }   %>
                            

                        </tbody>
                        </table>
                        <a class="btn btn-light btn-sm js-scroll-trigger" href="/strazacy/dodajNowego/<%=idJednostki%>">Dodaj alarmującego</a>
                        <a class="btn btn-light btn-sm js-scroll-trigger" href="/strazacy/dodajIstniejacego/<%=idJednostki%>?nastepnaStrona=edycjaAlarmujacego">Przypisz funkcje alarmujący</a>
                    
                </div>
            </div>
        </div>
    </section>
</header>
</body>
</html>